.login {
  background-image: url("C:\\Users\\renji\\Desktop\\Webpage_Resources and Images\\Log_Reg\\login_background_img.png");
  background-size: cover;
  background-position: center;
  width: 60%;
  height: 80vh;
  border-radius: 3%;
  display: flex;
  flex-direction: row;
}
#leftsection {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 40%;
}
#rightsection {
  padding: 10px;
  display: inherit;
  width: 60%;
  border: 1px solid black;
  background-color: white;
  border-radius: 2%;
}
#Login_txt {
  position: relative;
  top: 100px;
  left: 40px;
  font-family: "Times New Roman", Times, serif;
  color: white;
}
.logindetails {
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 30px;
}
.social-login-buttons {
  display: flex;
  gap: 15px;
  margin: 20px 0;
}
.google-sign-in-button {
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;

  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 15%;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);

  color: black;
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;

  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 15px 14px;
}

.google-sign-in-button:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}

.google-sign-in-button:active {
  background-color: #eeeeee;
}

.google-sign-in-button:active {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
    0 0 0 3px #c8dafc;
}

.facebook-sign-in-button {
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;

  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 15%;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);

  color: black;
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;

  background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjM0I1OTk4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgdmlld0JveD0iMCAwIDI0IDI0Ij4gPHBhdGggZD0iTTEyIDIyLjQzMkg5Ljkydi0xLjguMDctLjAwOS00LjM5Ny0uMDM4LTYuMzI5SDYuOTJWMTEuMDhINi45OGMuMDAxLTEuNzYxLjQwOS00LjA4OSAyLjI2LTQuMDg5aDIuMDlWNi43MjhjMC0yLjI2OC44NjktNC4wOTYgMy42NDUtNC4wOTZoMy4yOTN2My43MTlIMTMuODRjLS4yMjMgMCAuMDAxLjUyOS0uMDAxIDEuMDU0aC0uMDAxdi41MjZoMi4wNDRMMTUuODIgMTJIMTIuNnY5LjQzMmgzLjcyVjIyLjQzSDEyWk0xMiAwQzUuNDg2IDAgMCA1LjQ4NiAwIDEyczUuNDg2IDEyIDEyIDEyIDEyLTUuNDg2IDEyLTEyUzE4LjUxNCAwIDEyIDB6Ii8+PC9zdmc+");
  background-color: white;
  background-repeat: no-repeat;
  background-position: 15px 14px;
}

.facebook-sign-in-button:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}

.facebook-sign-in-button:active {
  background-color: #eeeeee;
}

.facebook-sign-in-button:active {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
    0 0 0 3px #c8dafc;
}
#or {
  text-align: center;
}
.Email {
  width: 400px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: white;
}
.Email input {
  height: 35px;
  width: 400px;
  background: none;
  outline: none;
  border: none;
}
#EmailText {
  position: relative;
  bottom: 50px;
  left: 30px;
  background-color: white;
  width: fit-content;
  border: none;
}
.Password {
  width: 400px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: white;
}
.Password input {
  height: 35px;
  width: 400px;
  background: none;
  outline: none;
  border: none;
}
#PasswordText {
  position: relative;
  bottom: 50px;
  left: 30px;
  background-color: white;
  width: fit-content;
  border: none;
}
.submit-button {
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  width: 400px;
  height: 40px;
  background-color: #b37bd0;
  border-radius: 5px;
  color: white;
  font-family: "Times New Roman", Times, serif;
}
.submit-button:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}

.submit-button:active {
  background-color: #eeeeee;
}

.submit-button:active {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
    0 0 0 3px #c8dafc;
}
#forgotpassword {
  display: flex;
  flex-direction: row;
}
#LogintoRegister {
  width: fit-content;
}
#forg0t {
  width: fit-content;
}
